# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
pip-wheel-metadata/

# Flask stuff
instance/
.webassets-cache
*.log

# Database
*.db
*.sqlite3

# Environment variables
.env

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
